.nav {
  background-color: whitesmoke;
  width: 20%;
  font-family: "Alata", sans-serif;

  &Item {
    margin-top: 75px;
    text-align: center;
  }
}

.navItem a {
  color: black;
  font-size: 30px;
}

a {
  color: black;
  text-decoration-line: none;
  transition-duration: 0.3s;
}

a:hover {
  transition-duration: 0.3s;
  color: orange;
}
